* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
  }
  
  body {
    font-family: "Inter";
    background-color: #fff;
    color: #111;
    line-height: 1.6;
    padding: 2rem;
    padding-left: 7%;
    padding-right:7%; 
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;

  }
  
  .logo {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  
  a {
    text-decoration: none;
    color: #111;
  }
  
  h1 {
    font-size: 4rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .timeline {
    position: relative;
    margin-left: 2rem;
    border-left: 2px solid #ccc;
    padding-left: 2rem;
    
  }
  
  .entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    position: relative;
 
  }
  
  .entry .icon {
    width: 2rem;
    height: 2rem;
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    position: absolute;
    left: -3rem;
    top: 0.5rem;
  }
  
  .entry .content-box {
    display: flex;
    background: #fff;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 55vw;  
  }
  
  .entry h2 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  .entry .date {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.8rem;
  }

  .entry-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding-left: 4rem;
  }
  
  .btn {
    display: inline-block;
    width: fit-content;
    padding: 0.4rem 1.2rem;
    border: 1px solid #000;
    border-radius: 2rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .btn:hover {
    background: #eee;
  }
  
  .main-box{
      display: flex;
      width: 100vw;
      align-items: center;
      min-height: 50vh;
  }

  .main-box-left{
      width: 40%;
      line-height: 1.7rem;
  }

  .main-box-left .btn{
      margin-top: 7%;
  }
  .main-box-right {
    width: 60%; 
  }
  
  .main-box-right img {
    padding: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;         
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
 
  ._404-box{
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

  .kontakt_main_box{
    height: 60vh;
    display: flex;
    flex-direction: row;
  }

  .kontakt_img_box{
    width: 40%;
  }

  .kontakt_img_box img{
    height: 100%;
  }

  .kontakt p{
    padding-top: 0.5rem;
  }

  .nav-dokumentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }

  .nav-dokumentation ul .btn{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .textLeftImgRight, .spiele, .prinzipien, .hex-wrapper{
    display: flex; 
    margin-top: 5%;
    width: 100%;
    padding: 2rem; 
    border-radius: 25px;
    background-color: #f5f1f1;
  }

  .spiele{
    flex-direction: column;
  }

  .textLeftImgRight h4, .spiele h4, .prinzipien h4, .hex-wrapper h4{
    color: #555;
  }

  .textLeftImgRight{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .textLeftImgRight ul{
    margin: 5%;
  }

  .textLeftImgRight-img{
    width: 40%;
  }

  .textLeftImgRight-img img{
    object-fit: cover;   
    width: 100%;
  }

  .textLeftImgRight-text{
    width: 60%;
  } 

  .flip-card-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
    min-height: 45vh;
    margin-top: 3%;
  }

  .flip-card {
      min-width: 20%;
      min-height: 40vh;
      cursor: pointer;
    }

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;  
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .flip-card.flipped .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%; 
      backface-visibility: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 1rem;
      box-sizing: border-box;
    }

    .flip-card-front {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .flip-card-front-img{
      height: fit-content; 
    }

    .flip-card-front-img img{
      max-width: 100%;
      border-radius: 8px;
      justify-self: center; 
    }

    .flip-card-front h3 {
      font-size: 1.2rem;
    }

    .flip-card-back {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.5vh; 
    }

    .spiele-p{
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .spiele-p p{
      width: 50%;
      padding-right: 10%;
    }

    .prinzipien {
       flex-direction: column;
    }

    .prinzipien p{
      width: 60%;
    }

    .listen-container {
      display: flex;
      width: 100%;
      gap: 2rem;
    }

    .liste {
      list-style-type: none;
      width: 50%;
      margin-top: 2.5%;
    }

    .liste li{
      width: 90%;
      height: max-content;
      padding: 1rem;
      margin-top: 1rem;
      border: 1px solid #000;
      border-radius: 2rem;
      text-decoration: none;
      color: #000;
      font-size: 0.9rem;
    }

    .hex-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px;
      padding-top: 2%;
    }
  
    .hex-container {
      width: 20vw;
      height: 35vh;
      margin: 1vh;
      clip-path: polygon(
        50% 0%, 
        93% 25%, 
        93% 75%, 
        50% 100%, 
        7% 75%, 
        7% 25%
      );
      background: radial-gradient(circle,  rgb(209, 209, 209), rgb(110, 110, 110) );
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1rem;
    }
  
    /* Optional: versetze jede zweite Zeile leicht */
    .hex-container:nth-child(2n) {
      transform: translateY(5vh);
    }
  
    .hex-content  {
      padding: 25%; 
      font-size: .9rem;
      z-index: 1;
    }
    .hex-wrapper{
      flex-direction: column;
    }


    @media (max-width: 1200px) {
      .hex-container {
        width: 25vw; 
        height: 30vh;
      }
    }


    @media (max-width: 1024px) {
      .flip-card-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 5%;
    }

    .flip-card-back {
      font-size: 1.3vh; 
    }

    .hex-container {
      width: 30vw; 
      height: 30vh;
    }
  }

  @media (max-width: 840px){
    .hex-container {
      width: 35vw; 
      height: 23vh;
    }
    
    .hex-container:nth-child(2n) {
      transform: translateY(0);
    }

    
  .textLeftImgRight, .spiele, .prinzipien{
    flex-direction: column;
    width: 100%;
}

.textLeftImgRight-img {
    width: 100%;
}

.textLeftImgRight-text {
  width: 100%;
}

  }
  


  @media (max-width: 768px) {
    body {
      padding: 1rem;
      padding-left: 5%;
      padding-right: 5%;
    }
  
    header {
      position: relative; 
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .logo{
      width: 100%;
    }
  
    nav {
      display: none;
      flex-direction: column;
      gap: 1rem;
      background-color: #fff;
      position: absolute;
      top: 80px;
      right: 0;
      padding: 1rem;
      border: 1px solid #000;
      border-radius: 1rem;
      z-index: 1000;
    }
  
    nav.open {
      display: flex;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      font-size: 2rem;
    }
  
    nav ul {
      flex-direction: column;
      gap: 1rem;
    }
  
   
    h1, .inter {
      font-size: 2.5rem;
      text-align: left;
    }
  
    .main-box {
      flex-direction: column;
      width: 100%;
      padding: 2rem 0;
    }
  
    .main-box-left,
    .main-box-right {
      width: 100%;
    }
  
    .main-box-right img {
      padding: 0;
      width: 100%;
      height: auto;
    }
  
    .entry .content-box {
      flex-direction: column;
      padding: 1rem; 
      max-width: 100%;
      margin-left: 1rem;
    }
  
    .entry-button {
      padding-left: 0;
      margin-top: 1rem;
    }
  
    .logo {
      font-size: 1.5rem;
    }
  
    .btn {
      font-size: 0.85rem;
      padding: 0.4rem 1rem;
    }
  
    .timeline {
      margin-left: 1rem;
      padding-left: 1rem;
    }
  
    .entry .icon {
      left: -2rem;
    }

    
    .kontakt_main_box{
      height: auto;
      flex-direction: column-reverse;
    }

    .kontakt_img_box{
      padding-top: 10%;
    }

    .nav-dokumentation ul .btn {
      margin: 0.5rem; 
  }

  .textLeftImgRight, .spiele, .prinzipien{
      flex-direction: column;
      width: 100%;
  }

  .textLeftImgRight-img {
      width: 100%;
  }

  .textLeftImgRight-text {
    width: 100%;
  }

  .flip-card-row {
      grid-template-columns: repeat(1, 4fr);
      gap: 1rem;
  }

  .flip-card {
      min-width: 45%;
      min-height: 30vh;
  }

  .flip-card-front h3 {
      font-size: 1rem;
  }

  .flip-card-front {
    flex-direction: row;
}

  .flip-card-front-img img{
    max-width: 80%;
    border-radius: 8px;
    justify-self: center; 
  }

  .spiele-p {
      flex-direction: column;
  }

  .spiele-p p {
      width: 100%;
      padding-right: 0;
      padding-top: 5%;
      padding-bottom: 5%;
  }

  .listen-container {
    flex-direction: column;
    gap: 0rem;
  }

  .liste {
    width: 100%;
  }

  .prinzipien p {
    width: 100%;
  }

  .liste li {
    width: 100%;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .hex-container {
    width: 40vw; 
    height: 30vh;
  }
  
  .hex-container:nth-child(2n) {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .hex-container {
    width: 90vw; 
    height: 30vh;
  }

  .hex-container:nth-child(2n) {
    transform: translateY(0);
  }
}